html, body {
    width: 100vw;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: blanchedalmond;
}

th, td {
    /* border: 1px solid black;
    border-collapse: collapse; */
    padding: 12px 16px;
}

table {
    width: 75vw;
    border-spacing: 0px 1px;
    margin: 6px auto;
    /* background-color: white */
}

tr {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: 0.3s;
    background-color: whitesmoke;
}

td:first-child {
    font-weight: bold;
}

/* On mouse-over, add a deeper shadow */
tr:hover {
    /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); */
    transform: scale(1.025);
}

#title {
    margin: 6px auto;
    text-align: center;
}

@media screen and (max-width: 715px) {

    table, thead, tbody, th, td, tr { 
		display: block; 
    }
    
    table {
        width: 95vw;
        margin: 0 auto;
    }

    .res-row {
        margin-top: 4px;
        width: 100%;
    }

    .res-row > td::before {
		/* width: 50vw;  */
		/* padding-right: 10px; */
        /* white-space: nowrap;  */
        font-weight: bold;
    }

    thead tr {
        position: absolute;
        left: -9999px;
        top: -9999;
    }

    .res-row > td:nth-of-type(1)::before { content: 'Site-Name: ' }
    .res-row > td:nth-of-type(2)::before { content: 'URL: ' }
    .res-row > td:nth-of-type(3)::before { content: 'Owner: ' }
    .res-row > td:nth-of-type(4)::before { content: 'Content Type: ' }

}
